body{
    background-color: blue;
        text-align: center;
    background-image: url(7af7db59-71ba-400b-b75a-e0d477b79f80 (1).jpg);
}

H1{
    color: rgb(48, 25, 25);
            background-color: rgb(0, 255, 42);
            border: 5px solid rgb(255, 123, 0);
            margin: 20px;
            padding: 15px;
            box-shadow:5px 6px ; 
}
.Gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
